a
{
	text-decoration:none;
	color:#000080;
}

#navbar
{
	padding-top:1px;
	padding-bottom:1px;
	background-color:#000050;
}

.navbar-button
{
	padding-top:1em;
	padding-bottom:1em;
	padding-left:2em;
	padding-right:2em;
	display:inline-block;
	color:#e0e0e0;
}

#navbar-button-selected
{
	color:#ffffff;
	background-color:#000070;
}

#content-container
{
	background-color:#ffffff;
	margin:auto;
}

#header-container
{
	margin:auto;
	color:#f0f0f0;
}

body
{
	background-color:#606060;
}
