a
{
	text-decoration:none;
}

#navbar
{
	height:3em;
	background-color:#000050;
}

#content-container
{
	background-color:#ffffff;
	margin:auto;
}

#header-container
{
	margin:auto;
	color:#e0e0e0;
}

#back
{
	background-color:#606060;
}
