.content-container
{
	background-color:#ffffff;
	padding:2em;
}

.content-container a
{
	text-decoration:none;
	color:#101080;
	font-weight:bold;
}

.content-container a[target="_blank"]
{
	color:#3366bb;
	font-weight:normal;
}

.content-container a:hover
{
	text-decoration:underline;
}

.content-container > div
{
	margin-top:1em;
	margin-bottom:1em;
}

.page-title
{
	margin:0px;
}

.grouped
{
	white-space:nowrap;
}

.language-icon
{
	margin-left:1em;
	float:right;
}

.documentation
{
	border-style:solid;
	border-color:#ccc;
	border-width:1px;
	padding:0.5em;
	background-color:#eee;
}

.documentation > .doc-title
{
	margin:-0.5em -0.5em 0.5em;
	background-color:#ccf;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#aac;
	padding:0.5em;
	font-weight:bold;
}

.documentation > h4
{
	margin-top:1em;
}

.documentation code
{
	border-style:none;
	padding:0px;
}

.indented
{
	margin-left:3em;
	margin-right:3em;
}

.overflow
{
	overflow:auto;
}
