#content-container
{
	background-color:#ffffff;
	padding:2em;
}

#content-container a
{
	text-decoration:none;
	color:#101080;
	font-weight:bold;
}

#content-container a[target="_blank"]
{
	color:#3366bb;
	font-weight:normal;
}

#content-container a:hover
{
	text-decoration:underline;
}

#page-title
{
	margin:0px;
}

.paragraph
{
	margin:1em 0px;
}

.grouped
{
	white-space:nowrap;
}

#language-icon
{
	margin-left:1em;
	float:right;
}