.header-container
{
   width:100%;
   display:table;
}

.title
{
   padding:1em 0px;
   display:table-cell;
}

.splash
{
   color:#f00;
   transform:rotate(9deg);
   -ms-transform:rotate(9deg);
   -webkit-transform:rotate(9deg);
   text-align:center;
   font-weight:bold;
   width:1px;
   white-space:nowrap;
   vertical-align:middle;
   display:none;
}

@media screen and (min-width: 540px)
{
   .splash
   {
      display:table-cell;
   }
}

.splash a
{
   color:inherit;
   text-decoration:underline;
}

.splash a:hover
{
   text-decoration:none;
}

.black-shadow
{
   text-shadow:0px -1px 1px black,1px -1px 1px black,1px 1px 1px black,-1px 0px 1px black,0px 1px 1px black,1px 0px 1px black,-1px -1px 1px black,-1px 1px 1px black;
}
