.navbar
{
   background-color:#050;
   text-decoration:none;
   margin:0px -10px;
   top:0px;
   color:#fff;
}

.navbar-button
{
   padding:1em;
   margin:3px 0px 3px 3px;
   display:inline-block;
   background-color:#161;
   cursor:pointer;
}

.navbar-button:hover
{
   background-color:#686;
}

.navbar-button-selected
{
   background-color:#373;
   cursor:default;
}

.navbar-button-arrow
{
   margin-right:8px;
}

.navbar-menu
{
   margin:0px -5px;
   cursor:pointer;
   display:none;
}

.navbar-menu, .navbar-menu-menu, .navbar-menu-button
{
   background-color:#fb0;
   border-width:1px;
   border-style:solid;
   border-color:#860;
   color:#000;
}

.navbar-menu-button
{
   padding:0.5em 1em;
}

.navbar-menu-button:hover
{
   background-color:#fd8;
}

.navbar-menu-button-selected, .navbar-menu-button-selected:hover
{
   background-color:#fd6;
   cursor:default;
}

.navbar-container a
{
   text-decoration:none;
   color:inherit;
}

.navbar-container a[target="_blank"]
{
   font-weight:bold;
   color:inherit;
}
