.navbar
{
	background-color:#005;
	text-decoration:none;
	margin:0px -10px;
	top:0px;
	color:#fff;
}

.navbar-button
{
	padding:1em;
	margin:3px 0px 3px 3px;
	display:inline-block;
	background-color:#116;
	cursor:pointer;
}

.navbar-button:hover
{
	background-color:#337;
}

.navbar-button-selected
{
	background-color:#337;
	cursor:default;
}

.navbar-button-arrow
{
	margin-right:8px;
}

.navbar-menu
{
	margin:0px -5px;
	background-color:#555;
	border-width:1px;
	border-style:solid;
	border-color:#000;
	color:#fff;
	display:none;
	cursor:pointer;
}

.navbar-menu-menu
{
	background-color:#555;
	border-width:1px;
	border-style:solid;
	border-color:#000;
	display:none;
}

.navbar-menu-button
{
	padding:0.5em 1em;
	border-width:1px;
	border-style:solid;
	border-color:#000;
}

.navbar-menu-button:hover
{
	background-color:#888;
}

.navbar-menu-button-selected
{
	background-color:#777;
	cursor:default;
}

.navbar-container a
{
	text-decoration:none;
	color:inherit;
}

.navbar-container a[target="_blank"]
{
	font-weight:bold;
	color:inherit;
}
