body
{
	background-color:#f0f0f0;
	max-width:1000px;
	margin:auto;
	padding:20px;
	padding-top:0px;
	font-family:sans-serif;
	overflow-y:scroll;
}

ul, ol, h1, h2, h3, h4, h5, h6
{
	margin:0px;
}

table
{
	border-collapse:collapse;
}

th, td
{
	border-width:1px;
	border-style:solid;
	border-color:black;
	padding:2px 4px;
}

iframe
{
	border-width:0px;
}

code, pre
{
	background-color:#f0f0f0;
	border-width:1px;
	border-color:#cccccc;
	border-style:solid;
	border-radius:3px;
}

code
{
	white-space:pre-wrap;
	padding:0px 5px;
	margin:0px;
}

pre
{
	display:inline-block;
	margin:5px;
	margin-left:0px;
	padding:10px;
	overflow:auto;
	overflow-y:hidden;
}
